:root{
	--mainColor:#2870b99c;
	--secondaryColor:#31475b;

	--borderColor:#447881;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(24 35 46 / 80%);
	--previewShadow:#718aa2;


	--buttonColor:#17a2b8;


}