:root{
	--mainColor:#580c5aeb;
	--secondaryColor:#78177bc7;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(148 36 162 / 80%);
	--previewShadow:#48054c;


	--buttonColor:#b74cbebf;


}
